:root {
  --background: #000;
  --foreground: #fff;
  --foreground-secondary: #888;
  --accent-1: #111;
  --accent-2: #222;
  --accent-3: #444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: var(--foreground);
  background-color: var(--background);
  overflow: hidden;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  transition: all 0.2s linear;
}
